# process of data cleaning

--> we checked for missing value and dropped missing value rows
-->dropped duplicates
-->remove stopwords,special character using regular exporession for
    this I used re library
-->removed extra symbollike alphanumeric

# process of Training

-->For splitting training and testing I used skleran library
-->used tfidf transformer to convert text into numeric value
-->Built two model first ine is lohistic regression and second one is naive bayes 
-->accuracy of logistic regression is 96.04% and for naive bayes is 86.74%
-->Finaly filled missing tweet intent using logistic regression model

# Importing required packages

In [14]:
from nltk.corpus import stopwords
import re
import pandas as pd 
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score

In [15]:
df=pd.read_csv('Tweet_NFT.xlsx - Sheet1.csv')
df.shape

(127453, 4)

In [16]:
df.head(10)

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763,Need Sick Character artâ“#art #artist #Artist...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community
5,1212768,ðŸŽ‰ Just registered for the saphire on @PREMI...,2022-08-06T16:56:34.000Z,Presale
6,1212769,ðŸš¨ THE BRIDGED #4660/9999 SOLD!!! =&gt; PRIC...,2022-08-06T16:56:33.000Z,Giveaway
7,1212771,@mtnDAO PROJECT 21 - THE BEST GAMEFI PROJECT O...,2022-08-06T16:56:33.000Z,Whitelist
8,1212772,@Ra8bitsNFT Feature it on @Globalnft07\nWe hav...,2022-08-06T16:56:33.000Z,Community
9,1212774,@SpaceBrosBSC PROJECT 21 - THE BEST GAMEFI PRO...,2022-08-06T16:56:32.000Z,Whitelist

In [17]:
len(df.tweet_intent.value_counts())

9

In [18]:
df.tweet_intent.unique()

array(['Community', 'Giveaway', 'Appreciation', 'Presale', 'Whitelist',
       'pinksale', 'Done', 'Interested', 'Launching Soon', nan],
      dtype=object)

# Checking for NULLs

In [19]:
df.isnull().sum()

id                      0
tweet_text              0
tweet_created_at        0
tweet_intent        31089
dtype: int64

In [26]:
df_missing=df[df['tweet_intent'].isnull()]
df_missing.shape

(31089, 4)

In [27]:
df_missing.head()

,id,tweet_text,tweet_created_at,tweet_intent
96364,1212764,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:35.000Z,NaN
96365,1212770,@asksabir007 @dao_lm Don't miss the chance to ...,2022-08-06T16:56:33.000Z,NaN
96366,1212773,This zesty faucet from @_bitcoiner is making m...,2022-08-06T16:56:33.000Z,NaN
96367,1212804,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:23.000Z,NaN
96368,1212776,"@Kavaboy_NFT @tanya_4d Message me, letâ€™s tal...",2022-08-06T16:56:32.000Z,NaN

In [32]:
df_missing.isnull().sum()

id                      0
tweet_text              0
tweet_created_at        0
tweet_intent        31089
dtype: int64

In [28]:
df1= df.dropna()

In [29]:
df1.head()

,id,tweet_text,tweet_created_at,tweet_intent
0,1212762,@crypto_brody @eCoLoGy1990 @MoonrunnersNFT @It...,2022-08-06T16:56:36.000Z,Community
1,1212763,Need Sick Character artâ“#art #artist #Artist...,2022-08-06T16:56:36.000Z,Giveaway
2,1212765,@The_Hulk_NFT @INagotchiNFT @Tesla @killabears...,2022-08-06T16:56:35.000Z,Appreciation
3,1212766,@CryptoBatzNFT @DarekBTW The first project in ...,2022-08-06T16:56:35.000Z,Community
4,1212767,@sashadysonn The first project in crypto with ...,2022-08-06T16:56:34.000Z,Community

In [30]:
df1.shape

(96364, 4)

In [31]:
df1.isnull().sum()

id                  0
tweet_text          0
tweet_created_at    0
tweet_intent        0
dtype: int64

# Dropping duplicates

In [34]:
df1.shape

(96364, 4)

In [33]:
df1.drop_duplicates(inplace=True)

/tmp/ipykernel_4047/4156330626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop_duplicates(inplace=True)

In [35]:
df1.shape

(96364, 4)

# Preprocessing the text

In [41]:
print("Total number of words:",df1['tweet_text'].apply(lambda x: len(x.split(' '))).sum())

Total number of words: 1640823

In [37]:
special_character_remover = re.compile('[/(){}\[\]\|@,;]')
extra_symbol_remover = re.compile('[^0-9a-z #+_]')
STOPWORDS = set(stopwords.words('english'))

In [38]:
def clean_text(text):
    text = text.lower()
    text = special_character_remover.sub(' ', text)
    text = extra_symbol_remover.sub('', text)
    text = ' '.join(word for word in text.split() if word not in STOPWORDS)
    return text
    
df1['tweet_text'] = df1['tweet_text'].apply(clean_text)

/tmp/ipykernel_4047/2425447337.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['tweet_text'] = df1['tweet_text'].apply(clean_text)

In [42]:
print("Total number of words:",df1['tweet_text'].apply(lambda x: len(x.split(' '))).sum())

Total number of words: 1640823

# Train Test split

In [43]:
from sklearn.model_selection import train_test_split
X = df1.tweet_text
y = df1.tweet_intent
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [44]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((67454,), (28910,), (67454,), (28910,))

# Applying Logistic Regression

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer

lr = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', LogisticRegression()),
              ])

lr.fit(X_train,y_train)
y_pred1 = lr.predict(X_test)

print(f"Accuracy is : {accuracy_score(y_pred1,y_test)}")

/home/amol/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy is : 0.9604289173296437

# Applying Naive Bayes Classifier

In [46]:
from sklearn.naive_bayes import MultinomialNB


naivebayes = Pipeline([('vect', CountVectorizer()),
               ('tfidf', TfidfTransformer()),
               ('clf', MultinomialNB()),
              ])
naivebayes.fit(X_train, y_train)

y_pred = naivebayes.predict(X_test)

print(f'accuracy {accuracy_score(y_pred,y_test)}')

accuracy 0.8673469387755102

# Filling missing tweet intent

In [63]:
df_missing.head()

,id,tweet_text,tweet_created_at,tweet_intent
96364,1212764,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:35.000Z,Whitelist
96365,1212770,@asksabir007 @dao_lm Don't miss the chance to ...,2022-08-06T16:56:33.000Z,Giveaway
96366,1212773,This zesty faucet from @_bitcoiner is making m...,2022-08-06T16:56:33.000Z,Appreciation
96367,1212804,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:23.000Z,Whitelist
96368,1212776,"@Kavaboy_NFT @tanya_4d Message me, letâ€™s tal...",2022-08-06T16:56:32.000Z,Appreciation

In [68]:
df_missing['tweet_intent_lr']=lr.predict(df_missing.tweet_text)

/tmp/ipykernel_4047/4238066285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_missing['tweet_intent_lr']=lr.predict(df_missing.tweet_text)

In [69]:
df_missing.head()

,id,tweet_text,tweet_created_at,tweet_intent,tweet_intent_n,tweet_intent_lr
96364,1212764,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:35.000Z,Whitelist,Giveaway,Whitelist
96365,1212770,@asksabir007 @dao_lm Don't miss the chance to ...,2022-08-06T16:56:33.000Z,Giveaway,Giveaway,Giveaway
96366,1212773,This zesty faucet from @_bitcoiner is making m...,2022-08-06T16:56:33.000Z,Appreciation,Community,Appreciation
96367,1212804,15% off ðŸ§™â€â™‚ï¸ #Wizardia NFTs - it's a ...,2022-08-06T16:56:23.000Z,Whitelist,Giveaway,Whitelist
96368,1212776,"@Kavaboy_NFT @tanya_4d Message me, letâ€™s tal...",2022-08-06T16:56:32.000Z,Appreciation,Community,Appreciation

# Assigning the intent to tweet which are missing  using train model

In [106]:
df.isnull().sum()

id                      0
tweet_text              0
tweet_created_at        0
tweet_intent        31089
dtype: int64

In [136]:
df['tweet_text'] = df['tweet_text'].apply(clean_text)

In [140]:
import pandas as pd
import numpy as np
i=1
for x in range(len(df.index)):
     if df.iloc[x].isnull().any():
        inpt=[df.tweet_text.iloc[x]]
        df['tweet_intent'].iloc[x]=lr.predict(inpt)

/tmp/ipykernel_4047/1788551345.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tweet_intent'].iloc[x]=lr.predict(inpt)

In [141]:
df.isnull().sum()

id                  0
tweet_text          0
tweet_created_at    0
tweet_intent        0
dtype: int64

In [142]:
df.tweet_intent.value_counts()

Community         41510
Giveaway          21041
Appreciation      16451
[Appreciation]    13811
[Community]       11139
Whitelist          8320
Presale            5107
[Giveaway]         3390
Done               3049
[Whitelist]        2704
pinksale            477
Interested          276
Launching Soon      133
[Done]               45
Name: tweet_intent, dtype: int64